<div class="font-montserrat text-[#1A363A]">
  <app-header [pageName]="'Contact Us'"></app-header>
</div>
<!-- BANNER SECTION-->
<section class="case-banner relative w-full h-[300px] md:h-[400px] overflow-hidden">
  <img
    src="assets/images/case-studies/classroom-computer.svg"
    alt="Jackfruit Foundation"
    class="absolute inset-0 w-full h-full object-cover"
  />
  <!-- dark overlay -->
  <div class="absolute inset-0 bg-black/50 pointer-events-none"></div>

  <div class="relative z-20 flex items-center justify-center h-[480px] px-4">
    <div class="text-center max-w-3xl mx-auto">
        <div class="relative inline-block">
        <span class="absolute -top-4 -left-4 w-7 h-7 border-t-4 border-l-4 border-[#48A225] md:w-8 md:h-8 md:border-t-8 md:border-l-8"></span>
        <h1 class="text-white text-3xl md:text-5xl font-extrabold leading-tight px-4">
          {{"Contact Us" | translate }}
        </h1>
        <span class="absolute -bottom-4 -right-4 w-7 h-7 border-b-4 border-r-4 border-[#48A225] md:w-8 md:h-8 md:border-b-8 md:border-r-8"></span>
      </div>
    </div>
  </div>
</section>

<!-- About JF Finance Split Section -->
<section class="py-16 bg-white">
  <div class="app-container grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <!-- Left Section -->
  <div class="relative z-10 pl-5 pt-10">
    <p class="text-xs sm:text-sm font-bold uppercase tracking-wide mb-2 text-[#48A225]">
      {{"Our Contacts" | translate }}
    </p>
    <h2 class="text-2xl sm:text-3xl md:text-4xl font-extrabold leading-tight mb-2 relative">
      {{"Get in Touch" | translate }}
      <!-- Corner accent: spaced from edge on mobile, further out on desktop -->
      <span
        class="absolute w-8 h-8 md:w-10 md:h-10 top-[-2rem] right-2 md:right-[-2rem] border-t-[16px] border-r-[16px] border-[#48A225] opacity-100"
      ></span>
    </h2>
    <!-- Split line only on desktop -->
    <div class="hidden md:flex items-center mt-4 mb-6">
      <div class="h-4 w-32 bg-[#48A225]"></div>
      <div class="h-1 w-64 bg-[#48A225]"></div>
    </div>
    
    <!-- Address -->
      <div class="flex items-start gap-4">
        <img
          src="assets/images/svg/address.png"
          alt="Address"
          class="w-10 h-10"
        />
        <div class="flex flex-col">
          <span class="text-xl font-semibold text-black-2">{{"Address" | translate }}</span>
          <span class="text-sm font-light text-gray-1400"
            >Rhapta Heights Building, 3rd Floor, Rhapta Road, Nairobi</span
          >
        </div>
      </div>

    <!-- Phone -->
      <div class="flex items-start gap-4 mt-8">
        <img src="assets/images/svg/support.png" [alt]="'Phone' | translate" class="w-10 h-10" />
        <div class="flex flex-col">
          <span class="text-xl font-semibold text-black-2">{{"Phone" | translate }}</span>
          <span class="text-sm font-light text-gray-1400"
            >{{"Phone" | translate }}: +254 110 701 174</span
          >
        </div>
      </div>

    <!-- Email -->
      <div class="flex items-start gap-4 mt-8">
        <img
          src="assets/images/svg/newsletter.jpg"
          alt="Email"
          class="w-10 h-10"
        />
        <div class="flex flex-col">
          <span class="text-xl font-semibold text-black-2">{{"Email" | translate }}</span>
          <span class="text-sm font-light text-gray-1400"
            >{{"Email" | translate }}: info&#64;jackfruitfoundation.com</span
          >
        </div>
      </div>

  </div>
    <!-- Right: Contact Form -->
    <div class="flex justify-center w-full h-full">
      <!-- Contact Us Form Section -->
        <section class="bg-white w-[90%]">
            <div class="form-card bg-[#fdf6ef] rounded-xl shadow-lg p-4 mx-auto w-full">
                <h2 class="text-xl font-semibold mb-6">{{ title | translate}}</h2>
                <form class="space-y-6" [formGroup]="form" (ngSubmit)="submit()" novalidate>
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-semibold">{{"Name" | translate }}<span class="text-red-600">*</span></label>
                        <input 
                            formControlName="name"
                            [class.invalid]="submitted && form.get('name')?.invalid"
                            [placeholder]="'Name' | translate"
                            class="input-field w-full"
                        />
                    </div>
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-semibold">{{"Email" | translate }}<span class="text-red-600">*</span></label>
                        <input 
                            formControlName="email"
                            [class.invalid]="submitted && form.get('email')?.invalid"
                            [placeholder]="'Email' | translate"
                            class="input-field w-full" 
                        />
                    </div>
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-semibold">{{"Subject" | translate }}<span class="text-red-600">*</span></label>
                        <input 
                            formControlName="subject" 
                            [class.invalid]="submitted && form.get('subject')?.invalid"
                            [placeholder]="'Subject' | translate"
                            class="input-field w-full"
                        />
                    </div>
                    <div class="mb-4">
                        <label class="block mb-1 text-xs font-semibold">{{"Message" | translate }}<span class="text-red-600">*</span></label>
                        <textarea 
                            formControlName="message"
                            rows="5"
                            [class.invalid]="submitted && form.get('message')?.invalid"
                            [placeholder]="'Message' | translate"
                            class="input-field w-full"
                        ></textarea>
                    </div>
                    <button 
                      type="submit"
                      [disabled]="loading"
                      class="inline-block px-6 py-3 md:px-10 md:py-4 bg-black text-white font-semibold text-base md:text-lg shadow hover:bg-gray-900 transition">
                        {{(loading ? "Sending..." : "Send Message") | translate}}
                    </button>
                    <div *ngIf="success" class="text-[#48A225] font-semibold mt-4 text-center">{{"Thank you! Your message has been sent." | translate}}</div>
                    <div *ngIf="errorOccurred" class="text-[#f31010] font-semibold mt-4 text-center">{{"An error has occured while sending the message. Please try again later" | translate }}</div>
                </form>
            </div>
        </section>
    </div>
  </div>
</section>

<!-- Map View Section -->
<div class="map-view w-full h-80">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.848087009624!2d36.78120437521524!3d-1.2635951987243772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f176043ce69c1%3A0x6090d501f3e0c8d4!2sRhapta%20Heights!5e0!3m2!1sen!2ske!4v1741118583757!5m2!1sen!2ske"
    width="100%"
    height="100%"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>

