<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'" [showBlueYellowDiv]="false"
[descriptionText]="'Ensure security for all your services for your customers effectively'"
[serviceTitle]="'Security'">></app-service-header>
<div class="w-full bg-gray-1500">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/security/security.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Security</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-gray-1400 text-sm text-left leading-5">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more or less normal page distribution of letters, as opposed to using Content here,content here normal distribution looking at its.We redefine the landscape of communication with our comprehensive Messaging Services both locally and internationally. We provide seamless integration, high delivery rates, and comprehensive analytics to track your campaigns’ performance. We pride in our 24/7 customer support and competitive pricing.
       </span>
      </div>
    </div>
</div>

<div class="w-full bg-white pb-32">
    <div class="flex justify-center items-center flex-col py-8">
      <span class="text-xs font-bold text-blue uppercase flex items-center">
          <span class="dot mr-1"></span>
          <span class="dot-line mr-2"></span>
           <span>Our Security Services </span>
      </span>
      <span class="text-3xl font-semibold w-3/3 text-center text-gray-1000">What we offer as security</span> 
    </div>
    <div class="flex justify-center items-center pt-4 mx-auto w-6/12 gap-4">
      <div class="w-60 h-48 bg-white">
        <img src="assets/images/projects/1.png" alt="Development" class="w-full h-full object-cover" />
        <div class="flex gap-2 p-2 border-b mb-2">
           <img src="assets/images/svg/database.png" alt="Db"  class="h-6" />
           <div class="flex flex-col">
            <span class="text-blue text-xs">Send SMS</span>
            <span class="text-black text-base">To Customers</span>
           </div>
        </div>
        <button class="w-full h-8 bg-transparent text-blue hover:bg-blue hover:text-white border-none text-xs py-2 px-2 rounded flex justify-center items-end">
          <span class="mr-2">Talk To Us</span> 
         
          </button>
      </div>
      <div class="w-60 h-48 bg-white">
        <img src="assets/images/projects/2.png" alt="Development" class="w-full h-full object-cover" />
        <div class="flex gap-2 p-2 border-b mb-2">
           <img src="assets/images/svg/database.png" alt="Db"  class="h-6" />
           <div class="flex flex-col">
            <span class="text-blue text-xs">Stay Connected</span>
            <span class="text-black text-base">Anytime Anywhere</span>
           </div>
        </div>
        <button class="w-full h-8 bg-transparent text-blue hover:bg-blue hover:text-white border-none text-xs py-2 px-2 rounded flex justify-center items-end">
          <span class="mr-2">Talk to us</span> 
         
          </button>
      </div>
      <div class="w-60 h-48 bg-white">
        <img src="assets/images/projects/3.png" alt="Development" class="w-full h-full object-cover" />
        <div class="flex gap-2 p-2 border-b mb-2">
           <img src="assets/images/svg/database.png" alt="Db"  class="h-6" />
           <div class="flex flex-col">
            <span class="text-blue text-xs">Smart way for online</span>
            <span class="text-black text-base">Payment Solution</span>
           </div>
        </div>
        <button class="w-full h-8 bg-transparent text-blue hover:bg-blue hover:text-white border-none text-xs py-2 px-2 rounded flex justify-center items-end">
          <span class="mr-2">Talk to us</span> 
          </button>
      </div>
   
    </div>

    </div>
