<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'CRB Services'"></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">CRB</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
        <p>
            Through our partner integrations, our platform enables businesses to check the credit ratings of their end users seamlessly, providing crucial insights for loan scoring and decision-making. With real-time access to credit data, you can assess creditworthiness quickly and accurately. Our secure and efficient system ensures compliance with regulatory standards, reducing the risk of bad loans and enhancing financial decision-making. Trust us to provide reliable CRB services, helping you make informed lending decisions with confidence.
        </p>
      
    </span> 
      </div>
    </div>
</div>
