<div>
  <!-- Title Section -->
  <!-- <div class="flex justify-center items-center flex-col py-8">
    <span class="text-xs font-bold text-blue uppercase flex items-center">
      <span class="dot mr-1"></span>
      <span class="dot-line mr-2"></span>
    </span>
    <span
      class="font-sans text-2xl md:text-4xl font-normal w-full md:w-3/4 text-center text-gray-1000 pt-2 tracking-normal"
      >Our Partners</span
    >
  </div> -->

  <!-- Marquee Section -->
  <div class="relative flex overflow-x-hidden">
    <div class="py-2 animate-marquee whitespace-nowrap bg-white flex">
      <!-- Client Logos -->
      <img
        src="assets/images/clients/waterloo.png"
        alt="Waterloo Foundation"
        class="object-cover h-12 md:h-20 p-2"
      />

      <img
        src="assets/images/clients/idp.png"
        alt="IDP Foundation"
        class="object-cover h-12 md:h-20 p-2"
      />

      <img
        src="assets/images/clients/global-schools.png"
        alt="Global Schools"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/opportunity-int.png"
        alt="Opportunity International"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/deg.png"
        alt="DEG"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/save_the_children.png"
        alt="Save The Children"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/laureus.jpg"
        alt="Laureus"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/treebeard.jpg"
        alt="Tree Beard"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/teach-united.png"
        alt="Teach United"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/chezacheza.png"
        alt="ChezaCheza"
        class="object-cover h-6 md:h-14 p-2"
      />
      <img
        src="assets/images/clients/duara.png"
        alt="Duara Schools"
        class="object-cover h-12 md:h-20 p-2"
      />
      <!-- <img
        src="assets/images/clients/usaid.png"
        alt="USAID"
        class="object-cover h-12 md:h-20 p-2"
      /> -->
      <img
        src="assets/images/clients/nature-lock.png"
        alt="Nature Lock"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/dalberg.gif"
        alt="Dalberg"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/global-partnerships.jpeg"
        alt="Global Partnerships"
        class="object-cover h-12 md:h-20 p-2"
      />

      <!-- <img
        src="assets/images/clients/ogilvy.png"
        alt="Ogilvy"
        class="object-cover h-12 md:h-20 p-2"
      /> -->

      <!-- <img
        src="assets/images/clients/instill.png"
        alt="Instill"
        class="object-cover h-12 md:h-20 p-2"
      /> -->
    </div>
  </div>
</div>
