<div>
  <div class="flex justify-center items-center flex-col py-8">
    <span class="text-xs font-bold text-blue uppercase flex items-center">
      <span class="dot mr-1"></span>
      <span class="dot-line mr-2"></span>
    </span>
    <span
      class="font-sans text-4xl font-normal w-3/3 text-center text-gray-1000 pt-2 tracking-normal"
      >Trusted By Industry Leaders</span
    >
  </div>
  <div class="relative flex overflow-x-hidden">
    <div class="py-2 animate-marquee whitespace-nowrap bg-white flex">
      <img
        src="assets/images/clients/nationalbank.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/faulu.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/ushuru.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/police.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/smep.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/tanda.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/creditbank.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/fortune.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/cytonn.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/unsacco.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/branch.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/someclient.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/gulf.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/access.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/oriental.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
    </div>
    <!-- <div
      class="absolute top-0 py-2 animate-marquee2 whitespace-nowrap bg-white flex"
    >
      <img
        src="assets/images/clients/nationalbank.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/faulu.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/ushuru.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/police.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/smep.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/tanda.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/creditbank.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/fortune.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/cytonn.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/unsacco.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/branch.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/someclient.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/gulf.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/access.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
      <img
        src="assets/images/clients/oriental.png"
        alt="right"
        class="object-cover h-20 p-2"
      />
    </div> -->
  </div>
</div>
