<div>
  <!-- Title Section -->
  <div class="flex justify-center items-center flex-col py-8">
    <span class="text-xs font-bold text-blue uppercase flex items-center">
      <span class="dot mr-1"></span>
      <span class="dot-line mr-2"></span>
    </span>
    <span
      class="font-sans text-2xl md:text-4xl font-normal w-full md:w-3/4 text-center text-gray-1000 pt-2 tracking-normal"
      >Trusted By Industry Leaders</span
    >
  </div>

  <!-- Marquee Section -->
  <div class="relative flex overflow-x-hidden">
    <div class="py-2 animate-marquee whitespace-nowrap bg-white flex">
      <!-- Client Logos -->
      <img
        src="assets/images/clients/nationalbank.png"
        alt="National Bank"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/faulu.png"
        alt="Faulu"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/ushuru.png"
        alt="Ushuru"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/police.png"
        alt="Police"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/smep.png"
        alt="SMEP"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/tanda.png"
        alt="Tanda"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/creditbank.png"
        alt="Credit Bank"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/fortune.png"
        alt="Fortune"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/cytonn.png"
        alt="Cytonn"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/unsacco.png"
        alt="UN Sacco"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/branch.png"
        alt="Branch"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/someclient.png"
        alt="Some Client"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/gulf.png"
        alt="Gulf"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/access.png"
        alt="Access"
        class="object-cover h-12 md:h-20 p-2"
      />
      <img
        src="assets/images/clients/oriental.png"
        alt="Oriental"
        class="object-cover h-12 md:h-20 p-2"
      />
    </div>
  </div>
</div>
