<div class="w-full bg-slate-100 pb-16">
  <!-- Title Section -->
  <div class="flex justify-center items-center flex-col py-8 px-4">
    <span class="text-xs font-bold text-blue uppercase flex items-center">
      <span class="dot mr-1"></span>
      <span class="dot-line mr-2"></span>
      <span> </span>
    </span>
    <span
      class="text-xl md:text-2xl font-semibold w-full md:w-3/4 text-center text-gray-1000 mt-2"
    >
      Why Partner With Us
    </span>
  </div>

  <!-- Cards Section -->
  <div
    class="flex flex-wrap justify-center items-start pt-4 mx-auto w-full md:w-10/12 lg:w-10/12 gap-4 px-4"
  >
    <div
      class="w-full sm:w-1/2 lg:w-1/5 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
    >
      <div class="flex justify-center items-center relative">
        <img
          src="assets/images/svg/financial-services.svg"
          alt="clients"
          class="h-5"
        />
        <span
          class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
        <span
          class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
      </div>
      <div class="text-xs leading-5 pt-4 text-black tracking-tighter">
        African Fintech Expertise
      </div>
      <div
        class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-44 overflow-scroll"
      >
        With 15+ years of experience across 27 African countries, we offer deep
        insights into diverse financial landscapes. Our support for 13 local
        currencies and various payment methods makes us the ideal partner for
        navigating Africa’s dynamic financial ecosystem.
      </div>
    </div>

    <div
      class="w-full sm:w-1/2 lg:w-1/5 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
    >
      <div class="flex justify-center items-center relative">
        <img src="assets/images/svg/technology.svg" alt="clients" class="h-5" />
        <span
          class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
        <span
          class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
      </div>
      <div class="text-xs leading-5 pt-4 text-black tracking-tighter">
        Powerful, Scalable Technology
      </div>
      <div
        class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-44 overflow-scroll"
      >
        Our all-in-one platform integrates payments, disbursements, and
        financial management. Equipped with advanced APIs, fraud detection, and
        scalable infrastructure, we ensure security and growth alongside your
        business.
      </div>
    </div>

    <div
      class="w-full sm:w-1/2 lg:w-1/5 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
    >
      <div class="flex justify-center items-center relative">
        <img
          src="assets/images/svg/speedometer.svg"
          alt="clients"
          class="h-5"
        />
        <span
          class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
        <span
          class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
      </div>
      <div class="text-xs leading-5 pt-4 text-black tracking-tighter">
        Proven Performance & Reliability
      </div>
      <div
        class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-44 overflow-scroll"
      >
        Processing over 1.5 million transactions monthly, handling $50M in
        transaction volume, we deliver high uptime and fast processing speeds,
        backed by a strong performance record in the African fintech space.
      </div>
    </div>

    <div
      class="w-full sm:w-1/2 lg:w-1/5 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
    >
      <div class="flex justify-center items-center relative">
        <img
          src="assets/images/svg/customer-management.svg"
          alt="clients"
          class="h-5"
        />
        <span
          class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
        <span
          class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
        ></span>
      </div>
      <div class="text-xs leading-5 pt-4 text-black tracking-tighter">
        Customer-Centric Solutions
      </div>
      <div
        class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-44 overflow-scroll"
      >
        We offer a customizable platform and personalized support, ensuring a
        tailored approach for businesses of any size, with flexible services to
        meet your evolving needs.
      </div>
    </div>
  </div>
</div>
