<div class="w-full bg-slate-100 mb-12 mt-4 py-12">
  <div
    class="w-full md:w-10/12 lg:w-9/12 flex flex-col md:flex-row justify-center items-start py-4 mx-auto"
  >
    <div class="flex flex-col md:w-7/12 lg:w-1/2 px-4">
      <span
        class="text-xl md:text-2xl font-semibold text-gray-1000 text-left mt-4 mb-2 tracking-wide"
      >
        Our Pan-African Impact
      </span>
      <span
        class="text-xs md:text-xs text-gray-950 text-left pt-2 leading-5 tracking-normal w-full md:w-11/12"
      >
        With over <b>15</b> years of experience, we’ve built trust across
        Africa, revolutionizing financial transactions and enhancing customer
        experiences
      </span>
      <div class="pt-4 flex flex-col gap-2">
        <!-- Statistics Section -->
        <div class="w-full flex justify-start items-center">
          <img
            src="assets/images/svg/arrow-right-blue.png"
            alt="Arrow"
            class="mr-2 w-2"
          />
          <div class="flex flex-col justify-center items-center">
            <div class="flex mb-1 w-full justify-center items-center">
              <span
                class="font-sans text-xl md:text-xl text-bright-blue font-extrabold flex items-center"
                >10 Million <span class="text-sm">+</span>&nbsp;&nbsp;
              </span>
              <span
                class="text-xs md:text-xs font-normal text-gray-1000 tracking-tighter"
              >
                - Monthly Transactions Processed</span
              >
            </div>
          </div>
        </div>
        <div class="w-full flex justify-start items-center">
          <img
            src="assets/images/svg/arrow-right-blue.png"
            alt="Arrow"
            class="mr-2 w-2"
          />
          <div class="flex flex-col justify-center items-center">
            <div class="flex mb-1 w-full justify-center items-center">
              <span
                class="font-sans text-xl md:text-xl text-bright-blue font-extrabold flex items-center"
                >USD 50 Million+&nbsp;&nbsp;
              </span>
              <span
                class="text-xs md:text-xs font-normal text-gray-1000 tracking-tighter"
              >
                - Monthly Transaction Volume
              </span>
            </div>
          </div>
        </div>
        <div class="w-full flex justify-start items-center">
          <img
            src="assets/images/svg/arrow-right-blue.png"
            alt="Arrow"
            class="mr-2 w-2"
          />
          <div class="flex flex-col justify-center items-center">
            <div class="flex mb-1 w-full justify-center items-center">
              <span
                class="font-sans text-xl md:text-xl text-bright-blue font-extrabold flex items-center"
                >6 &nbsp;&nbsp;
              </span>
              <span
                class="text-xs md:text-xs font-normal text-gray-1000 tracking-tighter"
              >
                - Countries Served
              </span>
            </div>
          </div>
        </div>
        <div class="w-full flex justify-start items-center">
          <img
            src="assets/images/svg/arrow-right-blue.png"
            alt="Arrow"
            class="mr-2 w-2"
          />
          <div class="flex flex-col justify-center items-center">
            <div class="flex mb-1 w-full justify-center items-center">
              <span
                class="font-sans text-xl md:text-xl text-bright-blue font-extrabold flex items-center"
                >100 <span class="text-sm">+</span>&nbsp;&nbsp;
              </span>
              <span
                class="text-xs md:text-xs font-normal text-gray-1000 tracking-tighter"
              >
                - Countries Supported
              </span>
            </div>
          </div>
        </div>
        <div class="w-full flex justify-start items-center">
          <img
            src="assets/images/svg/arrow-right-blue.png"
            alt="Arrow"
            class="mr-2 w-2"
          />
          <div class="flex flex-col justify-center items-center">
            <div class="flex mb-1 w-full justify-center items-center">
              <span
                class="font-sans text-xl md:text-xl text-bright-blue font-bold flex items-center"
                >10 <span class="text-sm">+</span>&nbsp;&nbsp;
              </span>
              <span
                class="text-xs md:text-xs font-normal text-gray-1000 tracking-tighter"
              >
                - Payment Methods Integrated
              </span>
            </div>
          </div>
        </div>
      </div>
      <span
        class="text-xs md:text-xs text-gray-950 text-left pt-2 leading-5 tracking-normal w-full md:w-11/12"
      >
        In today’s competitive business environment, providing an exceptional
        customer experience is crucial. Our robust platform, extensive reach,
        and proven track record empower your business to stand out and build
        unwavering customer loyalty across Africa.
      </span>
    </div>
    <!-- Image Section -->
    <div class="w-full md:w-5/12 lg:w-1/2 mt-8 md:mt-0 px-4">
      <img
        src="assets/images/home/africa.svg"
        alt="Africa"
        class="w-full h-auto"
      />
    </div>
  </div>
</div>
