<div class="bg-pink-900 py-2.5 border-b-2 border-white">
    <div class="flex w-9/12 flex justify-between items-center mx-auto">
      <span class="text-white text-xs font-medium leading-5 tracking-normal">{{ bannerText }}</span>
      <span class="text-white text-xs font-medium leading-5 tracking-normal">Check our Blog>></span>
    </div>
</div>
<div class="bg-dark-blue py-12">
    <div class="flex w-9/12 flex  flex-col justify-start items-start mx-auto">
        <span class="text-white text-base  font-semibold leading-5 tracking-normal mb-4">
            {{ headingText }}
        </span>
      <span class="text-white text-xs font-base leading-4 tracking-normal">
           {{ descriptionText }}
        </span>
    </div>
</div>
<div *ngIf="showBlueYellowDiv" class="flex">
    <div class="w-2/6 bg-blue py-2.5">
         <span class="text-white text-base  font-semibold leading-2 tracking-normal flex justify-center">{{ serviceTitle }}</span>
    </div>
    <div class="w-4/6 bg-yellow-900">
        <span class="text-white text-base  font-normal leading-5 tracking-normal"></span>
    </div>
</div>
