<footer class="bg-[#1A363A] text-white font-montserrat">
  <div class="container mx-auto px-4 py-12 grid grid-cols-2 lg:grid-cols-10 gap-1 lg:gap-8">
    <!-- Column 1: Logo -->
     <div class="space-y-2 col-span-1 lg:col-span-2">
        <div class="flex flex-col items-center md:items-start space-y-4">
          <img
            src="assets/images/footer/footer-logo.svg"
            alt="JackFruit Foundation"
            class="h-20 p-2"
          />
          <p class="text-xs">
            <span>© {{ currentYear }} <span class="font-bold">JackFruit Foundation</span>.</span><br/>
            <span>All Rights Reserved</span>
          </p>
        </div>
     </div>
    
    <!-- Column 2: Quick Links -->
    <div class="space-y-1 grid grid-cols-1 lg:grid-cols-10 col-span-1 lg:col-span-8">
      <!-- Desktop view -->
      <div class="hidden lg:grid grid-cols-1 col-span-3 ml-[45px]">
        <a (click)="goTo('our-impact')" class="block text-xs hover:text-[#EEB100] cursor-pointer">Our Impact Metrics</a>
        <a routerLink="/home" class="block text-xs hover:text-[#EEB100] cursor-pointer">Become a partner</a>
        <a routerLink="/home" class="block text-xs hover:text-[#EEB100] cursor-pointer">Invest with us</a>
      </div>
      <div class="hidden lg:grid  grid-cols-5 col-span-7">
        <a (click)="goTo('about-us')" class="block text-xs hover:text-[#EEB100] cursor-pointer">About Us</a>
        <a routerLink="/home" class="block text-xs hover:text-[#EEB100] cursor-pointer">Privacy policy</a>
        <a routerLink="/home" class="block text-xs hover:text-[#EEB100] cursor-pointer">Terms and Conditions</a>
        <a routerLink="/home" class="block text-xs text-center hover:text-[#EEB100] cursor-pointer">FAQs</a>
        <a (click)="goTo('contact-us')" class="block text-xs hover:text-[#EEB100] cursor-pointer">Talk To Us</a>
      </div>

      <!-- Mobile view -->
       <div class="block lg:hidden">
        <a (click)="goTo('home')" class="block text-xs text-right hover:text-[#EEB100] cursor-pointer">Home</a>
        <a (click)="goTo('our-impact')" class="block mt-4 text-xs text-right hover:text-[#EEB100] cursor-pointer">Our Impact</a>
        <a routerLink="/home" class="block mt-4 text-xs text-right hover:text-[#EEB100] cursor-pointer">Terms and Conditions</a>
        <a routerLink="/home" class="block mt-4 text-xs text-right hover:text-[#EEB100] cursor-pointer">Privacy Policy</a>
        <a routerLink="/home" class="block mt-4 text-xs text-right hover:text-[#EEB100] cursor-pointer">FAQs</a>
        <a (click)="goTo('contact-us')" class="block mt-4 text-xs text-right hover:text-[#EEB100] cursor-pointer">Countact Us</a>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 mt-8 py-4 text-center text-xs text-gray-400">
    © {{ currentYear }} <span class="font-bold">JackFruit Foundation</span>. All Rights Reserved.
  </div>
</footer>
