<div>
  <!-- Footer Section -->
  <div class="w-full bg-black-2 mt-12 px-4 md:px-0">
    <div
      class="hidden md:flex flex-col md:flex-row justify-between items-start w-full md:w-10/12 lg:w-3/5 mx-auto pt-8 pb-2 text-slate-200 gap-8"
    >
      <div class="flex flex-col items-center justify-start gap-1">
        <img
          src="assets/images/logos/logo1.png"
          alt="Travel Assist"
          class="h-20 bg-white rounded-lg"
        />
        <span class="text-xs cursor-pointer mt-2" routerLink="/company"
          >About Travel Assist</span
        >
        <span class="text-xs cursor-pointer" routerLink="/company">FAQs</span>
        <span class="text-xs mt-12 cursor-pointer" routerLink="/"
          >Discover More</span
        >
      </div>

      <div class="flex flex-col items-start justify-start gap-1 pt-4">
        <span class="text-lg mb-2">Services</span>
        <span class="text-xs cursor-pointer" routerLink="/"
          >Travel Insurance</span
        >
        <span class="text-xs cursor-pointer" routerLink="/"
          >Flight Booking</span
        >
        <span class="text-xs cursor-pointer" routerLink="/"
          >Hotel Accomodation</span
        >
      </div>

      <div class="flex flex-col items-start justify-start gap-1 pt-4">
        <span class="text-lg mb-2">Quick Links</span>
        <span class="text-xs cursor-pointer" routerLink="/">Home</span>
        <span class="text-xs cursor-pointer" routerLink="/home/sms-services"
          >About Travel Assist</span
        >
        <span class="text-xs cursor-pointer" routerLink="/home/ussd-services"
          >FAQs</span
        >
        <span class="text-xs cursor-pointer" routerLink="/home/ussd-services"
          >Talk To Us</span
        >
      </div>

      <div
        class="flex flex-col items-start justify-start gap-1 w-full md:w-64 pt-4"
      >
        <span class="text-lg mb-2">Quick Contact</span>
        <span class="text-xs"
          >If you have any questions or need help, feel free to contact us
          on.</span
        >
        <span class="flex items-center gap-2">
          <i class="bx bx-phone-call bx-md bx-tada"></i>
          <span class="text-lg text-white">(+254) 726 713 011</span>
        </span>
        <!-- <span class="text-xs flex">
          <img
            src="assets/images/svg/location-pin.svg"
            alt="phone"
            class="inline-block mr-2"
          />
          <span
            >3rd Floor, Utumishi Co-op House, Mamlaka Road, Nairobi Kenya</span
          >
        </span> -->
      </div>
    </div>
    <hr
      class="w-full md:w-10/12 lg:w-3/5 mx-auto border-t border-grey-200 border-t-[.1px] border-0 mb-6"
    />
    <div
      class="w-full md:w-10/12 lg:w-3/5 mx-auto flex flex-col md:flex-row justify-between pb-8 items-center text-center"
    >
      <span class="text-xs text-gray-1100 mb-4 md:mb-0"
        >© 2024 Travel Assist. All Rights Reserved.</span
      >
      <div class="flex gap-4">
        <img src="assets/images/svg/facebook.svg" alt="facebook" />
        <img src="assets/images/svg/twitter.svg" alt="twitter" />
        <img src="assets/images/svg/youtube.svg" alt="youtube" />
        <img src="assets/images/svg/instagram.svg" alt="instagram" />
      </div>
    </div>
  </div>
</div>
