<div class="flex items-center justify-center px-2 relative">
  <div class="w-11/12 mx-auto overflow-hidden bg-blue rounded-2xl">
    <!-- Slider Wrapper -->
    <div
      class="flex transition-transform duration-500 ease-out"
      [ngStyle]="{ transform: 'translateX(' + -currentSlide * 100 + '%)' }"
    >
      <div *ngFor="let slide of slides" class="relative w-full flex-shrink-0">
        <img
          [src]="slide.image"
          class="w-full h-auto mx-auto"
          alt="Slide"
          loading="lazy"
        />
        <div
          class="absolute inset-0 right-24 pr-80 flex flex-col justify-start items-center text-white top-16 text-left"
        >
          <span class="text-xl mb-1 w-5/6 text-white tracking-tighter">{{
            slide.subTitle
          }}</span>
          <span
            class="text-7xl font-extrabold mb-4 mt-1 w-5/6 pr-24 tracking-wider z-50"
            >{{ slide.title }}</span
          >
          <span class="text-base text-white w-5/6 pr-24 tracking-tight z-50">{{
            slide.description
          }}</span>
          <span class="text-sm pt-12 w-5/6">
            <button
              class="w-36 h-12 bg-white hover:bg-blue hover:text-white text-dark-blue font-sm px-4 rounded flex justify-center items-center gap-4 z-50 tracking-wide"
              (click)="goTo('/contact-us')"
            >
              <span>Talk to us</span>
              <i class="bx bx-right-arrow-alt text-blue"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <!-- Slider Controls -->
    <div class="absolute top-1/2 left-1 transform -translate-y-1/2 px-4">
      <button class="text-grey rounded-full" (click)="prevSlide()">
        <img src="assets/images/svg/arrow-pre.svg" alt="prev" width="44px" />
      </button>
    </div>
    <div class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4">
      <button class="text-grey rounded-full" (click)="nextSlide()">
        <img src="assets/images/svg/arrow-nex.svg" alt="next" width="44px" />
      </button>
    </div>

    <!-- Slider Indicators -->
    <div class="absolute bottom-3 left-24 flex gap-2">
      <button
        *ngFor="let slide of slides; let i = index"
        class="w-5 h-5 p-0.5 bg-transparent border border-white rounded-full focus:outline-none hover:bg-yellow-950"
        (click)="currentSlide = i"
        [attr.aria-label]="'Go to slide ' + (i + 1)"
      >
        <div
          class="w-full h-full bg-transparent rounded-full"
          [ngClass]="{ 'bg-yellow-950': currentSlide === i }"
        ></div>
      </button>
    </div>
  </div>
  <div class="absolute -bottom-32 mx-auto flex gap-2">
    <div
      class="w-64 h-auto bg-white rounded-sm p-4 flex justify-start gap-4 shadow-lg cursor-pointer hover:bg-blue"
    >
      <img src="assets/images/svg/statistics.png" alt="Logo" class="h-8" />
      <div class="flex flex-col">
        <span class="text-dark-blue text-sm font-bold hover:text-white"
          >Global Payment</span
        >
        <span class="text-xs text-gray-950 hover:text-white">
          The combined power of our expert payments people, innovative modular
          technology and unrelenting drive for ROI has earned the trust of
          thousands of customers. Here are just a few:
        </span>
      </div>
    </div>

    <div
      class="w-64 h-auto bg-white rounded-sm p-4 flex justify-start gap-4 shadow-lg cursor-pointer hover:bg-blue"
    >
      <img src="assets/images/svg/statistics.png" alt="Logo" class="h-8" />
      <div class="flex flex-col">
        <span class="text-dark-blue text-sm font-bold hover:text-white"
          >Voice</span
        >
        <span class="text-xs text-gray-950 hover:text-white">
          Get unlimited talktime across all networks within East Africa
        </span>
      </div>
    </div>

    <div
      class="w-64 h-auto bg-white rounded-sm p-4 flex justify-start gap-4 shadow-lg hover:bg-blue"
    >
      <img
        src="assets/images/svg/search-engine-blue.png"
        alt="Logo"
        class="h-8"
      />
      <div class="flex flex-col">
        <span class="text-dark-blue text-sm font-bold hover:text-white"
          >Developer Community</span
        >
        <span class="text-xs text-gray-950 hover:text-white">
          Access all our developer resources and integrations swiftly
        </span>
      </div>
    </div>

    <div
      class="w-64 h-auto bg-white rounded-sm p-4 flex justify-start gap-4 shadow-lg hover:bg-blue"
    >
      <img src="assets/images/svg/cloud-computing.png" alt="Logo" class="h-8" />
      <div class="flex flex-col">
        <span class="text-dark-blue text-sm font-bold">Electronic Payment</span>
        <span class="text-xs text-gray-950 hover:text-white">
          Quick response payments for all your online payment and POS
        </span>
      </div>
    </div>
  </div>
</div>
