<div class="flex flex-col items-center justify-center px-2 relative">
  <div
    class="w-full md:w-10/12 max-h-[600px] mx-auto overflow-hidden bg-blue rounded-2xl mt-2"
  >
    <!-- Slider Wrapper -->
    <div
      class="flex transition-transform duration-500 ease-out"
      [ngStyle]="{ transform: 'translateX(' + -currentSlide * 100 + '%)' }"
    >
      <div *ngFor="let slide of slides" class="relative w-full flex-shrink-0">
        <img
          [src]="slide.image"
          class="w-full h-[300px] md:h-[500px] object-cover mx-auto"
          alt="Slide"
          loading="lazy"
        />
        <div
          class="absolute inset-0 md:right-24 pr-4 md:pr-80 flex flex-col justify-start items-start text-white top-4 md:top-8 pl-4 md:pl-8"
        >
          <span
            class="text-lg md:text-xl w-full md:w-5/6 text-white tracking-tighter mt-2"
            >{{ slide.subTitle }}</span
          >
          <span
            class="font-sans leading-snug text-xl md:text-3xl text-white font-extrabold mb-4 md:mb-6 w-full md:w-2/4 z-50 bg-black-3 rounded-2xl px-4 py-2"
            >{{ slide.title }}</span
          >

          <div class="flex flex-col md:flex-row gap-4 md:gap-6 w-full md:w-3/4">
            <div class="w-full md:w-1/2 bg-blue rounded-2xl p-3 md:p-4">
              <span
                class="leading-tight md:leading-relaxed text-sm md:text-base text-black rounded-2xl tracking-wider z-50"
                ><span class="font-bold">Our Mission: </span>
                <span
                  >Jackfruit Foundation implements social impact projects in
                  schools that contribute to improved quality education, promote
                  equity, and drive innovation.
                </span>
              </span>
            </div>
            <div class="w-full md:w-1/2 bg-blue rounded-2xl p-3 md:p-4">
              <span
                class="leading-tight md:leading-relaxed text-sm md:text-base text-black rounded-2xl tracking-wider z-50"
                ><span class="font-bold">Our Vision: </span>
                <span
                  >To improve education across Sub-Saharan Africa by ensuring
                  access to quality learning, sustainable school development,
                  and inclusive education solutions.
                </span>
              </span>
            </div>
          </div>

          <span class="text-sm md:text-base pt-6 md:pt-8 w-full md:w-auto">
            <button
              class="w-full md:w-auto h-10 bg-white hover:bg-blue hover:text-white text-dark-blue font-sm px-6 rounded flex justify-center items-center gap-2 z-50 tracking-wide transition-all duration-300"
              (click)="goTo('/contact-us')"
            >
              <span class="text-blue font-bold">Talk to us</span>
              <i class="bx bx-right-arrow-alt text-blue"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <!-- Slider Controls -->
    <div class="absolute top-1/2 left-2 md:left-4 transform -translate-y-1/2">
      <button
        class="text-grey rounded-full hover:opacity-80 transition-opacity"
        (click)="prevSlide()"
      >
        <img
          src="assets/images/svg/arrow-pre.svg"
          alt="prev"
          class="w-8 md:w-11"
        />
      </button>
    </div>
    <div class="absolute top-1/2 right-2 md:right-4 transform -translate-y-1/2">
      <button
        class="text-grey rounded-full hover:opacity-80 transition-opacity"
        (click)="nextSlide()"
      >
        <img
          src="assets/images/svg/arrow-nex.svg"
          alt="next"
          class="w-8 md:w-11"
        />
      </button>
    </div>

    <!-- Slider Indicators -->
    <div
      class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex gap-2"
    >
      <button
        *ngFor="let slide of slides; let i = index"
        class="w-3 h-3 md:w-4 md:h-4 p-0.5 bg-transparent border border-white rounded-full focus:outline-none hover:bg-yellow-950 transition-colors"
        (click)="currentSlide = i"
        [attr.aria-label]="'Go to slide ' + (i + 1)"
      >
        <div
          class="w-full h-full bg-transparent rounded-full"
          [ngClass]="{ 'bg-yellow-950': currentSlide === i }"
        ></div>
      </button>
    </div>
  </div>

  <!-- Responsive Cards Section -->
  <!-- <div
    class="flex flex-wrap w-full sm:w-96 justify-center gap-2 mt-8 relative lg:absolute lg:-top-3 lg:right-32"
  >
    <div
      class="relative h-auto w-full overflow-hidden bg-white rounded-lg py-4 flex justify-start gap-4 shadow-lg cursor-pointer"
    >
      <div class="flex flex-col pt-2 px-4 h-full w-full">
        <div class="flex justify-start items-center gap-2 mb-4">
          <div
            class="bg-blue rounded-full p-2 flex items-center justify-center"
            style="background-color: rgba(59, 130, 246, 0.1)"
          >
            <img
              src="assets/images/svg/agreement.svg"
              alt="Logo"
              class="h-4 w-4"
            />
          </div>
          <span class="text-gray-1000 text-sm font-bold hover:text-white">
            G Now...
          </span>
        </div>

        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="bg-transparent flex flex-col"
        >
          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="familyName"
            >
              Family Name
            </label>
            <div class="w-full">
              <input
                formControlName="familyName"
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:shadow-outline"
                id="familyName"
                type="text"
                placeholder="Full Name"
              />
              <div
                *ngIf="f['familyName'].touched && f['familyName'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['familyName'].errors?.['required']"
                  >Family name is required.</span
                >
                <span *ngIf="f['familyName'].errors?.['minlength']"
                  >Family name must be at least 2 characters long.</span
                >
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="fullname"
            >
              Other Names
            </label>
            <div class="w-full">
              <input
                formControlName="fullname"
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:shadow-outline"
                id="fullname"
                type="text"
                placeholder="Other Names"
              />
              <div
                *ngIf="f['fullname'].touched && f['fullname'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['fullname'].errors?.['required']"
                  >Other names are required.</span
                >
                <span *ngIf="f['fullname'].errors?.['minlength']"
                  >Other names must be at least 2 characters long.</span
                >
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="email"
            >
              Email
            </label>
            <div class="w-full">
              <input
                formControlName="email"
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:shadow-outline"
                id="email"
                type="email"
                placeholder="Email Address"
              />
              <div
                *ngIf="f['email'].touched && f['email'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['email'].errors?.['required']"
                  >Email is required.</span
                >
                <span *ngIf="f['email'].errors?.['email']"
                  >Invalid email format.</span
                >
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="phone"
            >
              Phone
            </label>
            <div class="w-full">
              <input
                formControlName="phone"
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:shadow-outline"
                id="phone"
                type="text"
                placeholder="Phone Number"
              />
              <div
                *ngIf="f['phone'].touched && f['phone'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['phone'].errors?.['required']"
                  >Phone number is required.</span
                >
                <span *ngIf="f['phone'].errors?.['invalidPhoneNumber']"
                  >Invalid phone number format. Use country code (e.g.,
                  +254...).</span
                >
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="dob"
            >
              Date Of Birth
            </label>
            <div class="w-full">
              <app-datepicker formControlName="dob"></app-datepicker>
              <div
                *ngIf="f['dob'].touched && f['dob'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['dob'].errors?.['required']"
                  >Date of birth is required.</span
                >
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="grid-state"
            >
              Country Of Origin
            </label>
            <div class="relative w-full">
              <select
                formControlName="country"
                class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 text-sm leading-tight py-2.5 px-4 rounded focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-state"
              >
                <option value="">Select your country</option>
                <option *ngFor="let country of countries" value="country.name">
                  {{ country.name }}
                </option>
              </select>
              <div
                *ngIf="f['country'].touched && f['country'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['country'].errors?.['required']"
                  >Country of origin is required.</span
                >
              </div>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="departure-date"
            >
              Departure Date
            </label>
            <div class="w-full">
              <app-datepicker
                formControlName="departureDate"
                [minDate]="today"
              ></app-datepicker>
              <div
                *ngIf="f['departureDate'].touched && f['departureDate'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['departureDate'].errors?.['required']"
                  >Departure date is required.</span
                >
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between items-center w-full">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 pr-1 w-1/2 uppercase"
              for="destination"
            >
              Destination
            </label>
            <div class="relative w-full">
              <select
                formControlName="destination"
                class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 text-sm leading-tight py-2.5 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="destination"
              >
                <option value="">Select your destination</option>
                <option *ngFor="let country of countries" value="country.name">
                  {{ country.name }}
                </option>
              </select>
              <div
                *ngIf="f['destination'].touched && f['destination'].invalid"
                class="text-red-200 text-xs italic w-full"
              >
                <span *ngIf="f['destination'].errors?.['required']"
                  >Destination is required.</span
                >
              </div>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="mt-4 bg-black-3 text-white hover:text-blue rounded py-2 px-4"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div> -->
</div>
