<app-service-header
  [serviceTitle]="'Our Company'"
  [headingText]="'Get to know'"
  [showBlueYellowDiv]="false"
  [bannerText]="'Check how our client and patners are saying about us…'"
  [descriptionText]="
    'Ensure security for all your services for your customers effectively'
  "
></app-service-header>

<!-- Team Members Start-->
<div class="w-full bg-white mb-12">
  <div
    class="w-12/12 flex items-start bg-gray-1500 justify-center gap-12 mb-8 pb-12"
  >
    <div class="w-96">
      <img
        src="assets/images/company/team.png"
        alt="Our Company"
        class="w-full h-full object-cover rounded-lg"
      />
    </div>
    <div class="flex flex-col justify-start w-1/3 bg-gray-1500 p-8">
      <span class="text-lg font-semibold text-black pb-4">Our Clients </span>
      <span class="text-lg font-semibold text-black flex items-center pb-8">
        <span class="dot-line mr-2"></span>
        <span class="dot mr-1"></span>
      </span>
      <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
        <p>
          It is a long established fact that a reader will be distracted by the
          rea dable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more or less normal page
          distribution of letters, as opposed to using Content here,content here
          normal distribution looking at its.We redefine the landscape of
          communication with our comprehensive Messaging Services both locally
          and internationally.
        </p>
        <p class="pt-2">
          We provide seamless integration, high delivery rates, and
          comprehensive analytics to track your campaigns’ performance. We pride
          in our 24/7 customer support and competitive pricing.
        </p>
      </span>
    </div>
    <div></div>
  </div>
  <div class="py-6 whitespace-nowrap bg-white flex justify-center">
    <img
      src="assets/images/clients/im.png"
      alt="right"
      class="object-cover h-24 p-4"
    />
    <img
      src="assets/images/clients/mastercard.png"
      alt="right"
      class="object-cover h-24 p-4"
    />
    <img
      src="assets/images/clients/mfs.png"
      alt="right"
      class="object-cover h-24 p-4"
    />
    <img
      src="assets/images/clients/microsoft.png"
      alt="right"
      class="object-cover h-24 p-4"
    />
    <img
      src="assets/images/clients/multichoice.png"
      alt="right"
      class="object-cover h-24 p-4"
    />
  </div>
</div>
<!-- Team Members End-->
