<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[showBlueYellowDiv]="false"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'USSD Services'">></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Email ID Service</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <p class="text-gray-1400 text-xs text-left leading-5">
        We understand that effective communication is at the heart of every successful business. Explore the diverse possibilities of our Bulk Campaigns,
      </p>
      </div>
    </div>
</div>
<div class="w-full bg-gray-900 mt-4 mb-24">
    <div class="w-6/12 flex justify-center relative">
        <div class="flex flex-col justify-start gap-4 mb-40 mt-12">
            <span class="text-white text-xl font-bold leading-10">Other services include</span>
            <span class="h-1 w-12 bg-white border rounded"></span>
        </div>
        <div class="flex justify-center items-center absolute -bottom-14 left-72 border border-transparent rounded-lg">
            <div class="w-72 h-48 shadow-lg bg-blue flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-white font-semibold px-4">
                    Single Email
                </span>
                <span class="text-xs text-kt-white font-thin text-left pr-4 px-4">
                    Single Emails, and Scheduling Emails features, and elevate your communication game to new heights. Dive into a world of precision, personalization, and unparalleled reach as we present a breakdown of our services   </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-kt-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    Bulk Campaigns
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    Our Bulk Campaign tool is perfect for businesses of any size. Send beautiful, targeted emails to a massive audience effortlessly.     </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    Single Emails
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    Send personalized emails to clients, prospects, or customers with just a few clicks. Our Single Emails platform shows your audience you truly care.
                </span>
            </div>
        </div>   
    </div>
</div>
