.carousel-container {
    width: 70%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slide {
    width: 30%;
    transition: transform 0.5s ease-in-out;
  }