<div class="w-screen grid grid-cols-1">
  <app-slider></app-slider>
  <!-- Clients Marqueu Begins-->
  <div class="mt-32">
    <app-clients-marqueue></app-clients-marqueue>
  </div>
  <!-- Clients Marqueu Ends-->
  <!-- Working Process Start-->
  <div class="w-full bg-slate-100 mb-12 mt-4 py-12">
    <div class="w-8/12 flex justify-center items-start flex-col py-4 mx-auto">
      <span class="text-xs font-semibold text-blue flex items-center">
        <span class="dot mr-1"></span>
        <span class="dot-line mr-2"></span>
        <span>Working Process </span>
      </span>
      <div class="flex justify-between gap-8">
        <div class="w-full flex flex-col">
          <span class="text-2xl font-semibold text-gray-1000 text-left mt-4">
            We are trusted across Africa,<br />
            with over 15 years experience
          </span>
          <span
            class="text-xs text-gray-1000 text-left pt-2 leading-5 tracking-normal w-3/4"
          >
            In the contemporary business landscape, ensuring an exceptional
            customer experience is paramount for setting your enterprise apart
            and fostering unwavering loyalty among your clientele.
          </span>
          <div class="pt-4 flex flex-col gap-4">
            <div class="w-full flex justify-start items-center">
              <img
                src="assets/images/svg/kenya.svg"
                alt="Kenya Flag"
                class="w-5 h-4 mr-2"
              />
              <div class="flex flex-col justify-center">
                <div class="flex mb-1 w-full">
                  <span class="text-xs text-blue"
                    >(1.5 Million)&nbsp;-&nbsp;</span
                  >
                  <span
                    class="text-xs font-normal text-gray-1000 tracking-tighter"
                    >Monthly Transactions</span
                  >
                </div>
                <div class="w-80 bg-gray-200 h-1 rounded">
                  <div class="bg-blue h-1 rounded" style="width: 73%"></div>
                </div>
              </div>
            </div>
            <div class="w-full flex justify-start items-center">
              <img
                src="assets/images/svg/botswana.svg"
                alt="Kenya Flag"
                class="w-5 h-4 mr-2"
              />
              <div class="flex flex-col justify-center">
                <div class="flex mb-1 w-full">
                  <span class="text-xs text-blue"
                    >(USD 50 Million)&nbsp;-&nbsp;</span
                  >
                  <span
                    class="text-xs font-normal text-gray-1000 tracking-tighter"
                    >Monthly Transactions</span
                  >
                </div>
                <div class="w-80 bg-gray-200 h-1 rounded">
                  <div class="bg-blue h-1 rounded" style="width: 88%"></div>
                </div>
              </div>
            </div>
            <div class="w-full flex justify-start items-center">
              <img
                src="assets/images/svg/namibia.svg"
                alt="Kenya Flag"
                class="w-5 h-4 mr-2"
              />
              <div class="flex flex-col justify-center">
                <div class="flex mb-1 w-full">
                  <span class="text-xs text-blue">(27)&nbsp;-&nbsp;</span>
                  <span
                    class="text-xs font-normal text-gray-1000 tracking-tighter"
                    >Monthly Transactions</span
                  >
                </div>
                <div class="w-80 bg-gray-200 h-1 rounded">
                  <div class="bg-blue h-1 rounded" style="width: 60%"></div>
                </div>
              </div>
            </div>
            <div class="w-full flex justify-start items-center">
              <img
                src="assets/images/svg/angola.svg"
                alt="Kenya Flag"
                class="w-5 h-4 mr-2"
              />
              <div class="flex flex-col justify-center">
                <div class="flex mb-1 w-full">
                  <span class="text-xs text-blue">(13)&nbsp;-&nbsp;</span>
                  <span
                    class="text-xs font-normal text-gray-1000 tracking-tighter"
                    >Monthly Transactions</span
                  >
                </div>
                <div class="w-80 bg-gray-200 h-1 rounded">
                  <div class="bg-blue h-1 rounded" style="width: 65%"></div>
                </div>
              </div>
            </div>
            <div class="w-full flex justify-start items-center">
              <img
                src="assets/images/svg/uganda.svg"
                alt="Kenya Flag"
                class="w-5 h-4 mr-2"
              />
              <div class="flex flex-col justify-center">
                <div class="flex mb-1 w-full">
                  <span class="text-xs text-blue">(13)&nbsp;-&nbsp;</span>
                  <span
                    class="text-xs font-normal text-gray-1000 tracking-tighter"
                    >Monthly Transactions</span
                  >
                </div>
                <div class="w-80 bg-gray-200 h-1 rounded">
                  <div class="bg-blue h-1 rounded" style="width: 65%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="assets/images/home/africa.svg" alt="Africa" class="w-3/5" />
      </div>
    </div>
  </div>
  <!-- Working Process End-->
  <!-- Designed for Devs starts-->
  <div class="w-full bg-white mb-12 mt-0 py-0">
    <div class="w-8/12 flex justify-center items-start flex-col py-4 mx-auto">
      <span class="text-xs font-semibold text-blue flex items-center">
        <span class="dot mr-1"></span>
        <span class="dot-line mr-2"></span>
        <span>Designed for developers </span>
      </span>
      <div class="flex justify-between gap-16">
        <div class="w-2/5 flex flex-col">
          <span class="text-2xl font-semibold text-gray-1000 text-left mt-4">
            Ship more quickly with powerful and easy-to-use APIs
          </span>
          <span
            class="text-xs text-gray-1000 text-left pt-2 leading-5 tracking-normal w-full"
          >
            Save engineering time with unified payments functionality. We obsess
            over the maze of gateways, payments rails, and financial
            institutions that make up the global economic landscape so that your
            teams can build what you need on one platform.
          </span>
          <button
            class="mt-8 w-40 h-12 bg-blue hover:bg-dark-blue hover:text-white text-white text-xs font-thin px-4 rounded flex justify-center items-center gap-4 z-50 tracking-wide"
            (click)="goTo('/contact-us')"
          >
            <span>Read Docs</span>
            <i class="bx bx-right-arrow-alt text-white"></i>
          </button>
        </div>
        <div class="w-3/5">
          <img src="assets/images/home/coder.png" alt="Africa" class="w-5/6" />
        </div>
      </div>
    </div>
  </div>
  <!-- Designed for Devs ends-->

  <!-- Why Kentapay-->
  <div class="w-full bg-slate-100 pb-8">
    <div class="flex justify-center items-center flex-col py-8">
      <span class="text-xs font-bold text-blue uppercase flex items-center">
        <span class="dot mr-1"></span>
        <span class="dot-line mr-2"></span>
        <span> </span>
      </span>
      <span class="text-2xl font-semibold w-3/3 text-center text-gray-1000"
        >Why do business with Kentapay</span
      >
      <span class="text-xs font-normal w-3/3 text-center text-gray-950 pt-6">
        Cross-border payments can get complicated but we’ve made it our mission
        to uncomplicate them.
      </span>
    </div>
    <div class="flex justify-center items-center pt-4 mx-auto w-8/12 gap-4">
      <div
        class="w-1/4 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
      >
        <div class="flex justify-center items-center relative">
          <img
            src="assets/images/stats/clients.png"
            alt="clients"
            class="h-8"
          />
          <span
            class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
          <span
            class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
        </div>
        <div class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter">
          Keep more of what you earn
        </div>
        <div
          class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-32 overflow-scroll"
        >
          He development of reliable and scalable software soluti any OS,
          browser and device. We bring together deepin expertise and the latest
          advan.
        </div>
      </div>

      <div
        class="w-1/4 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
      >
        <div class="flex justify-center items-center relative">
          <img
            src="assets/images/stats/clients.png"
            alt="clients"
            class="h-8"
          />
          <span
            class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
          <span
            class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
        </div>
        <div class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter">
          Join the network
        </div>
        <div
          class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-32 overflow-scroll"
        >
          Our smooth integration with the world’s leading Pay TV services
          enables us to offer a quick and easy way to pay for your monthly
          subscriptions. With our platform, you can pay for and manage all of
          your preferred Pay TV services from a single, safe interface. No
          matter where you are, you may always have unrestricted access to your
          favorite entertainment thanks to our global network. Take advantage of
          our dependable transaction processing, prompt payment confirmations,
          and committed customer service to make managing your Pay TV
          subscription simple and hassle-free.
        </div>
      </div>

      <div
        class="w-1/4 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
      >
        <div class="flex justify-center items-center relative">
          <img
            src="assets/images/stats/clients.png"
            alt="clients"
            class="h-8"
          />
          <span
            class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
          <span
            class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
        </div>
        <div class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter">
          Join the market
        </div>
        <div
          class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-32 overflow-scroll"
        >
          Our smooth integration with the world’s leading Pay TV services
          enables us to offer a quick and easy way to pay for your monthly
          subscriptions. With our platform, you can pay for and manage all of
          your preferred Pay TV services from a single, safe interface. No
          matter where you are, you may always have unrestricted access to your
          favorite entertainment thanks to our global network. Take advantage of
          our dependable transaction processing, prompt payment confirmations,
          and committed customer service to make managing your Pay TV
          subscription simple and hassle-free.
        </div>
      </div>

      <div
        class="w-1/4 bg-white flex flex-col items-start justify-start z-10 shadow-lg px-4 py-8"
      >
        <div class="flex justify-center items-center relative">
          <img
            src="assets/images/stats/clients.png"
            alt="clients"
            class="h-8"
          />
          <span
            class="flex w-7 h-7 rounded-full border absolute left-4 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
          <span
            class="flex w-4 h-4 rounded-full border absolute left-8 -top-3 backdrop-opacity-10 backdrop-invert bg-blue/10 opacity-25"
          ></span>
        </div>
        <div class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter">
          Keep more of what you earn
        </div>
        <div
          class="text-xs leading-5 pt-2 text-gray-1000 tracking-tighter h-32 overflow-scroll"
        >
          He development of reliable and scalable software soluti any OS,
          browser and device. We bring together deepin expertise and the latest
          advan.
        </div>
      </div>
    </div>
  </div>
  <!-- Blog Start-->
  <div class="w-full bg-white pb-32 relative">
    <div
      class="absolute inset-0 bg-center bg-no-repeat opacity-70"
      style="background-image: url('assets/images/home/map.png')"
    ></div>

    <div class="flex justify-center items-center flex-col py-8">
      <span class="text-xs font-bold text-blue uppercase flex items-center">
        <span class="dot mr-1"></span>
        <span class="dot-line mr-2"></span>
        <span>TESTIMONIAL </span>
      </span>
      <span class="text-2xl font-semibold w-3/3 text-center text-gray-1000"
        >Who are our customers ?</span
      >
    </div>
    <div class="grid grid-cols-2 w-8/12 gap-12 mx-auto">
      <div
        class="bg-white flex flex-col items-start justify-start z-10 shadow-lg py-4 px-2 h-40 overflow-hidden"
      >
        <div class="flex justify-center items-center pl-4">
          <span class="flex w-8 h-8 bg-gray-1300 rounded-full border"></span>
          <div class="flex flex-col m-4">
            <span>Freelancers</span>
          </div>
        </div>
        <div class="text-xs leading-5 p-2 font-sm text-gray-950">
          Freelance opportunities are everywhere, so you need a payment solution
          that is truly global. The Payoneer account lets you save time and
          effort as you get paid, make payments, access earnings, and manage
          your money.
        </div>
      </div>
      <div
        class="bg-white flex flex-col items-start justify-start z-10 shadow-lg py-4 px-2 h-40 overflow-hidden"
      >
        <div class="flex justify-center items-center pl-4">
          <span class="flex w-8 h-8 bg-gray-1300 rounded-full border"></span>
          <div class="flex flex-col m-4">
            <span>Businesses</span>
          </div>
        </div>
        <div class="text-xs leading-5 p-2 font-sm text-gray-950">
          He development of reliable and scalable software soluti any OS,
          browser and device. We bring together deepin expertise and the latest
          advan.
        </div>
      </div>

      <div
        class="bg-white flex flex-col items-start justify-start z-10 shadow-lg py-4 px-2 h-40 overflow-hidden"
      >
        <div class="flex justify-center items-center pl-4">
          <span class="flex w-8 h-8 bg-gray-1300 rounded-full border"></span>
          <div class="flex flex-col m-4">
            <span>Businesses</span>
          </div>
        </div>
        <div class="text-xs leading-5 p-2 font-sm text-gray-950">
          He development of reliable and scalable software soluti any OS,
          browser and device. We bring together deepin expertise and the latest
          advan.
        </div>
      </div>

      <div
        class="bg-white flex flex-col items-start justify-start z-10 shadow-lg py-4 px-2 h-40 overflow-hidden"
      >
        <div class="flex justify-center items-center pl-4">
          <span class="flex w-8 h-8 bg-gray-1300 rounded-full border"></span>
          <div class="flex flex-col m-4">
            <span>Businesses</span>
          </div>
        </div>
        <div class="text-xs leading-5 p-2 font-sm text-gray-950">
          He development of reliable and scalable software soluti any OS,
          browser and device. We bring together deepin expertise and the latest
          advan.
        </div>
      </div>
    </div>
  </div>
</div>
