<div class="w-screen grid grid-cols-1">
  <app-slider></app-slider>
  <!-- Clients Marqueu Begins-->
  <div class="mt-0 md:mt-60">
    <app-clients-marqueue></app-clients-marqueue>
  </div>
  <!-- Clients Marqueu Ends-->
  <!-- Working Process Start-->
  <app-working-process></app-working-process>
  <!-- Working Process End-->
  <!-- Designed for Devs starts-->
  <app-developers></app-developers>
  <!-- Designed for Devs ends-->

  <!-- Why Partner with us-->
  <app-partner-with-us></app-partner-with-us>
  <!-- Who we serve-->
  <app-who-we-serve></app-who-we-serve>
</div>
