<div class="w-full h-24 bg-dark-blue flex items-center justify-between px-40 text-white relative">
    <!-- Logo and Navigation Links -->
    <div class="flex items-center space-x-12 cursor-pointer"  [routerLink]="'/'">
      <img src="assets/images/logos/KentaPay_white2x.png" alt="Logo" class="h-20" />
    </div>
  
    <!-- Menu Links -->
    <div class="flex items-center gap-4 px-2"> 
      <div class="group">
        <span class="flex flex-col justify-between text-base tracking-normal cursor-pointer h-24">
          <span></span>
          <span>KentaPay Services</span>
          <span class="self-stretch border-b-4 rounded-r rounded-l border-white w-2/5"></span>
        </span>
  
        <!-- Full-Width Dropdown Menu -->
        <div
          class="hidden group-hover:block absolute left-0 top-full w-full bg-white text-dark-blue py-4 shadow-lg z-50 border border-black rounded"
        >  <div class="flex justify-between mx-2 my-12">
            <div class="w-1/5 ml-1 flex flex-col">
                <span class="text-black font-bold text-xl">KentaPay Services</span>
                <span class="text-black font-light text-xs pt-2">
                    A single platform to accept payments, protect revenue, and control your finances.
                </span>
            </div>
            <div class="w-4/5 grid grid-cols-4 gap-12">
                <div class="flex flex-col cursor-pointer"  [routerLink]="'/messaging-services'">
                    <span class="text-sm font-bold text-blue">Messaging Services</span>
                    <span class="flex flex-col relative">
                       <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                           We redefine the landscape of communication with our comprehensive Messaging Services both locally and internationally.
                       </span>
                        <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                    </span>
                 </div>
                 <div class="flex flex-col">
                  <span class="text-sm font-bold text-blue">Sender ID Services</span>
                  <span class="flex flex-col relative">
                     <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                      We empower you to make a lasting impression with our advanced SMS Sender ID Service. Dive into the intricacies of our service as we..    </span>
                      <span class="text-blue text-right place-self-end absolute right-4 top-12">
                        <i class='bx bx-right-arrow-alt'></i></span>
                  </span>
                  </div>
                  <div class="flex flex-col">
                     <span class="text-sm font-bold text-blue">Electricity Bill Services</span>
                     <span class="flex flex-col relative">
                        <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                           To provide a smooth payment option for both prepaid and postpaid electricity services, we have worked with significant worldwide…
                        </span>
                         <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                     </span>
                     </div>
                     <div class="flex flex-col">
                        <span class="text-sm font-bold text-blue">Water Utility Services</span>
                        <span class="flex flex-col relative">
                           <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                              We now provide an effective payment option for both prepaid and postpaid water services thanks to our integration with …          </span>
                            <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                        </span>
                        </div>
                       
                 <div class="flex flex-col">
                   <span class="text-sm font-bold text-blue">Emails Services</span>
                   <span class="flex flex-col relative">
                      <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                       We understand that effective communication is at the heart of every successful business. Explore the diverse possibilities….
                      </span>
                       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                   </span>
                </div>
                <div class="flex flex-col">
                  <span class="text-sm font-bold text-blue">USSD Services</span>
                  <span class="flex flex-col relative">
                     <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                        At Kentapay, we bring you the next frontier in interactive communication with our USSD Service. Delve into the richness…
                        </span>       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                  </span>
                  </div>

                  <div class="flex flex-col">
                     <span class="text-sm font-bold text-blue">KYC Services</span>
                     <span class="flex flex-col relative">
                        <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                           We provide full personal identity subscription services for easy KYC (Know Your Customer) procedures by integrating with…
                           </span>       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                     </span>
                     </div>

                     <div class="flex flex-col">
                        <span class="text-sm font-bold text-blue">Ticketing Services</span>
                        <span class="flex flex-col relative">
                           <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                              In partnership with major service providers across Africa we provide a wide range of ticketing solutions for events, airline …
                              </span>       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                        </span>
                        </div>

                <div class="flex flex-col">
                   <span class="text-sm font-bold text-blue">Pay Tv Services</span>
                   <span class="flex flex-col relative">
                      <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                       Our smooth integration with the world’s leading Pay TV services enables us to offer a quick and easy way to pay for your monthly subscriptions….
                        </span>
                       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                   </span>
                </div>

                <div class="flex flex-col">
                  <span class="text-sm font-bold text-blue">Internet Subscription Services</span>
                  <span class="flex flex-col relative">
                     <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                        We provide a smooth interface with top internet subscription services across the globe, making it simple for you to…
                        </span>       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                  </span>
                  </div>

                  <div class="flex flex-col">
                     <span class="text-sm font-bold text-blue">CRB Services</span>
                     <span class="flex flex-col relative">
                        <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                           Through our partner integrations, our platform enables businesses to check the credit ratings of their end users seamlessly, providing crucial insights…
                           </span>       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                     </span>
                     </div>

                <div class="flex flex-col">
                   <span class="text-sm font-bold text-blue">Government Collections Services</span>
                   <span class="flex flex-col relative">
                      <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                        Through our partner integrations, our platform enables businesses to check the credit ratings of their end users seamlessly, providing crucial insights…
                        </span>
                       <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                   </span>
                </div>
              
                 <div class="flex flex-col">
                 <span class="text-sm font-bold text-blue">Cards Services</span>
                  <span class="flex flex-col relative">
                   <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                     We offer smooth integration for processing UnionPay, Visa, and MasterCard cards, giving you a reliable and effective ….
                  </span>
                  <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
                 </span>
                 </div>

            

          <div class="flex flex-col">
         <span class="text-sm font-bold text-blue">Fraud Guard Services</span>
         <span class="flex flex-col relative">
            <span class="text-xs text-left text-black font-thin leading-5 tracking-tighter">
                With our extensive Fraud Guard services, we are committed to protecting your company’s financial transactions. Our …
              </span>
             <span class="text-blue text-right place-self-end absolute right-4 top-12"><i class='bx bx-right-arrow-alt'></i></span>
         </span>
      </div>

   

  
   
            </div>
            


   






       
        </div>
         
        </div>
      </div>
  
      <span class="flex items-center text-base tracking-normal cursor-pointer">Payment</span>
      <span class="flex items-center text-base tracking-normal cursor-pointer">Security</span>
      <span class="flex items-center text-base tracking-normal cursor-pointer">Developers</span>
      <span class="flex items-center text-base tracking-normal cursor-pointer">Company</span>
      <button class="w-40 h-10 bg-white hover:bg-blue-700 text-dark-blue text-sm py-2 px-4 rounded">
        Talk to us
      </button>
    </div>
  </div>  
  <hr class="border-t border-slate-700 border-t-[.1px] bg-transparent border-0">


   