<div
  class="w-full md:w-3/4 h-16 my-8 flex items-center justify-between relative mx-auto"
>
  <!-- Logo and Navigation Links -->
  <div
    class="md:flex items-center justify-center cursor-pointer pl-4"
    [routerLink]="'/'"
  >
    <img
      src="assets/images/logos/logo1.png"
      alt="Logo"
      class="h-34 w-40 md:w-60"
    />
  </div>

  <!-- Mobile Menu Button -->
  <div class="block md:hidden">
    <button class="text-dark-blue focus:outline-none" (click)="toggleMenu()">
      <!-- Hamburger Icon -->
      <i class="bx bx-menu bx-md"></i>
    </button>
  </div>

  <!-- Menu Links -->
  <div
    class="hidden md:flex items-center gap-6 px-2"
    [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
  >
    <!-- Home Menu -->
    <span
      class="flex flex-col justify-between text-dark-blue text-base tracking-normal cursor-pointer md:h-16"
      (click)="goTo('home')"
    >
      <span></span>
      <span
        class="text-sm font-semibold leading-5 tracking-normal"
        [ngClass]="{ 'text-blue': isActive('/home') }"
        >Home</span
      >
      <!-- Conditional Bottom Border -->
      <span
        class="self-stretch border-b-2 rounded-r rounded-l border-transparent w-3/5 group-hover:border-dark-blue"
        [ngClass]="{ 'custom-active': isActive('/home') }"
      ></span>
    </span>

    <!-- Travel Insurance -->
    <span
      class="flex flex-col justify-between text-base text-dark-blue tracking-normal cursor-pointer md:h-16"
      (click)="goTo('travel-insurance')"
    >
      <span></span>
      <span class="text-sm font-semibold leading-5 tracking-normal"
        >Travel Insurance</span
      >
      <span
        class="self-stretch border-b-2 rounded-r rounded-l border-transparent w-2/5 group-hover:border-dark-blue"
        [ngClass]="{ 'custom-active': isActive('/travel-insurance') }"
      ></span>
    </span>

    <!-- Flight Booking -->
    <span
      class="flex flex-col justify-between text-base text-dark-blue tracking-normal cursor-pointer md:h-16"
      (click)="goTo('flight-booking')"
    >
      <span></span>
      <span class="text-sm font-semibold leading-5 tracking-normal"
        >Flight Booking</span
      >
      <span
        class="self-stretch border-b-2 rounded-r rounded-l border-transparent w-2/5 group-hover:border-dark-blue"
        [ngClass]="{ 'custom-active': isActive('/flight-booking') }"
      ></span>
    </span>

    <!-- Hotel Accomodation -->
    <span
      class="flex flex-col justify-between text-base text-dark-blue tracking-normal cursor-pointer md:h-16"
      (click)="goTo('hotel-accomodation')"
    >
      <span></span>
      <span class="text-sm font-semibold leading-5 tracking-normal"
        >Hotel Accomodation</span
      >
      <span
        class="self-stretch border-b-2 rounded-r rounded-l border-transparent w-2/5 group-hover:border-dark-blue"
        [ngClass]="{ 'custom-active': isActive('/flight-booking') }"
      ></span>
    </span>

    <!-- About Us -->
    <span
      class="flex flex-col justify-between text-base text-dark-blue tracking-normal cursor-pointer md:h-16"
      (click)="goTo('about-us')"
    >
      <span></span>
      <span class="text-sm font-semibold leading-5 tracking-normal"
        >About Us</span
      >
      <span
        class="self-stretch border-b-2 rounded-r rounded-l border-transparent w-2/5 group-hover:border-dark-blue"
        [ngClass]="{ 'custom-active': isActive('/about-us') }"
      ></span>
    </span>

    <!-- Talk to Us Button -->
    <button
      class="w-32 h-10 bg-blue hover:bg-blue-700 text-white text-sm py-2 px-4 ml-8 rounded hidden md:block"
      (click)="goTo('contact-us')"
    >
      Talk to us
    </button>
  </div>
</div>
