<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'Electricity Bill Services'"></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Electricity Bill Services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
        <p>
            To provide a smooth payment option for both prepaid and postpaid electricity services, we have worked with significant worldwide electrical service providers. With our platform, you can easily keep track of and pay for your monthly electricity bills from a single, safe interface. Our connection guarantees prompt and dependable processing of your electricity payments, regardless of your location. Our committed customer service, quick transaction processing, and real-time payment confirmations make managing your electricity subscriptions easy and stress-free
        </p>
      
    </span> 
      </div>
    </div>
</div>
