<app-header [pageName] = "'Home'"></app-header>
<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'Ticketing Services'"></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Ticketing Services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
        <p>
            In partnership with major service providers across Africa we provide a wide range of ticketing solutions for events, airline transport, conferences, shows, and more. Our platform allows you to access, book, and pay for tickets seamlessly from one secure and user-friendly interface. Enjoy the convenience of real-time ticket availability, instant booking confirmations, and efficient payment processing. Whether you’re planning to attend a concert, travel by air, or participate in a conference we ensure a smooth and hassle-free ticketing experience. Trust us to simplify your ticketing needs with our reliable and integrated services.
        </p>
      
    </span> 
      </div>
    </div>
</div>
