<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[showBlueYellowDiv]="false"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'USSD Services'">></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Fraud Guard</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-gray-1400 text-xs text-left leading-5">
        With our extensive Fraud Guard services, we are committed to protecting your company’s financial transactions. Our cutting-edge fraud monitoring service is made to shield your company from dishonest activity and provide a safe and reliable payment environment for both you and your clients.
       </span>
      </div>
    </div>
</div>
<div class="w-full bg-gray-900 mt-4">
    <div class="w-6/12 flex justify-center relative">
        <div class="flex flex-col justify-start gap-4 mb-40 mt-12">
            <span class="text-white text-xl font-bold leading-10">Other services include</span>
            <span class="h-1 w-12 bg-white border rounded"></span>
        </div>
        <div class="flex justify-center items-center absolute -bottom-14 left-72 border border-transparent rounded-lg">
            <div class="w-72 h-48 shadow-lg bg-blue flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-white font-semibold px-4">
                    Real-Time Fraud Monitoring
                </span>
                <span class="text-xs text-kt-white font-thin text-left pr-4 px-4">
                    Our system continuously monitors transactions in real-time, identifying and flagging suspicious activities instantly.
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-kt-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    Transaction Scoring
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    Each transaction is evaluated using sophisticated algorithms that assign a risk score, helping to identify potential fraud.
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    Pattern Recognition
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    Our platform utilizes machine learning to recognize unusual patterns and behaviors, providing an additional layer of protection.
                </span>
            </div>
        </div>   
    </div>
</div>

<div  class="w-full bg-white mt-20 justify-center items-center">
    <div class="flex justify-center items-start mx-auto gap-8 w-8/12 my-8">
        <div class="flex flex-col justify-center items-center w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">Automated Alerts</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                Receive immediate alerts for suspicious activities, enabling quick response to potential threats..
            </span>
        </div>
        <div class="flex flex-col justify-center items-center  w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">Comprehensive Reporting</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                Access detailed reports and analytics on transaction activities, helping you stay informed about your business’s security status.
            </span>
        </div>
        <div class="flex flex-col justify-center items-center  w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">Customizable Features</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                For businesses with specific needs, we offer customizable Fraud Guard services tailored to your unique requirements. These advanced features are available at a competitive fee
            </span>
        </div>
        <div class="flex flex-col justify-center items-center  w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">Custom Rule Configuration</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                Develop and implement custom fraud detection rules based on your business’s specific criteria and risk appetite.
            </span>
        </div>
    </div>
    
</div>