<app-header [pageName] = "'Home'"></app-header>
<app-service-header [bannerText]="'Check how our client and partners are saying about us…'" [showBlueYellowDiv]="false"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'Payments Services'">></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Payments</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-gray-1400 text-sm text-left leading-5">
        Accept payments online, on any device, anywhere in the world. An all-in-one online payment solution built for your business.
       </span>
      </div>
    </div>
</div>
