<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'USSD Services'">></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">USSD Services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-gray-1400 text-sm text-left leading-5">
        At Kentapay, we bring you the next frontier in interactive communication with our USSD Service. Delve into the richness of our USSD offerings as we dissect and showcase the myriad capabilities that make this service a game-changer in the realm of mobile interaction: We offer prepaid, postpaid USSD and dedicated and shared USSD
       </span>
      </div>
    </div>
</div>
<div class="w-full bg-gray-900">
    <div class="w-6/12 flex justify-center">
        <div class="flex flex-col gap-4 my-12">
            <span class="text-white text-xl font-bold leading-10">Other services include</span>
            <span class="h-1 w-12 bg-white border rounded"></span>
        </div>
       
    </div>
    
  

 
</div>