<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'USSD Services'">></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">USSD Services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-gray-1400 text-sm text-left leading-5">
        At Kentapay, we bring you the next frontier in interactive communication with our USSD Service. Delve into the richness of our USSD offerings as we dissect and showcase the myriad capabilities that make this service a game-changer in the realm of mobile interaction: We offer prepaid, postpaid USSD and dedicated and shared USSD
       </span>
      </div>
    </div>
</div>
<div class="w-full bg-gray-900 my-4">
    <div class="w-6/12 flex justify-center relative">
        <div class="flex flex-col justify-start gap-4 mb-40 mt-12">
            <span class="text-white text-xl font-bold leading-10">Other services include</span>
            <span class="h-1 w-12 bg-white border rounded"></span>
        </div>
        <div class="flex justify-center items-center absolute -bottom-14 left-72">
            <div class="w-72 h-48 shadow-lg bg-blue flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-white font-semibold">
                    Instant Connectivity
                </span>
                <span class="text-xs text-kt-white font-thin text-left pr-4">
                    Experience instant connectivity with our USSD Service, where interactions are as fast as the speed of thought. USSD allows users to engage with services directly through their mobile phones, ensuring a seamless and rapid exchange of information.
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-kt-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold">
                    Device Agnostic
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4">
                    Your customers can access USSD services on any mobile device, regardless of make or model. This inclusivity ensures that your services are accessible to a broad audience, transcending barriers and maximizing reach
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold">
                    No Internet Required
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4">
                    Your customers can access USSD services on any mobile device, regardless of make or model. This inclusivity ensures that your services are accessible to a broad audience, transcending barriers and maximizing reach
                </span>
            </div>
        </div>   
    </div>
</div>