@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:host {
  display: block;
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  font-family: 'Montserrat', sans-serif;
}

.opacity-0 {
  opacity: 0;
  pointer-events: none;
}
.opacity-100 {
  opacity: 1;
}
