<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[showBlueYellowDiv]="false"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'USSD Services'">></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Short messaging services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <p class="text-gray-1400 text-xs text-left leading-5">
        We redefine the landscape of communication with our comprehensive Messaging Services both locally and internationally. 
       </p>
       <p class="text-gray-1400 text-xs text-left leading-5">
        We provide seamless integration, high delivery rates, and comprehensive analytics to track your campaigns’ performance. We pride in our 24/7 customer support and competitive pricing.
       </p>
      </div>
    </div>
</div>
<div class="w-full bg-gray-900 mt-4">
    <div class="w-6/12 flex justify-center relative">
        <div class="flex flex-col justify-start gap-4 mb-40 mt-12">
            <span class="text-white text-xl font-bold leading-10">Other services include</span>
            <span class="h-1 w-12 bg-white border rounded"></span>
        </div>
        <div class="flex justify-center items-center absolute -bottom-14 left-72 border border-transparent rounded-lg">
            <div class="w-72 h-48 shadow-lg bg-blue flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-white font-semibold px-4">
                    Local SMS
                </span>
                <span class="text-xs text-kt-white font-thin text-left pr-4 px-4">
                    We specialize in providing top-notch local SMS services designed to help businesses connect with their local customers efficiently and effectively. Our SMS solutions are perfect for marketing campaigns, appointment reminders, alerts, and customer support.
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-kt-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    International SMS
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    We offer premier international multilingual SMS services designed to bridge the gap between businesses and their global audiences.
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    Transactional SMS
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    This service is tailored for businesses that require instant and critical updates. From order confirmations to account alerts, our Transactional SMS service ensures that your messages reach your audience promptly and reliably. Enjoy the confidence that comes with a direct channel to your customers' fingertips.
                </span>
            </div>
        </div>   
    </div>
</div>

<div  class="w-full bg-white mt-20 justify-center items-center">
    <div class="flex justify-center items-start mx-auto gap-8 w-8/12 my-24">
        <div class="flex flex-col justify-center items-center w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">Promotional SMS</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                Craft compelling messages and reach a wider audience with ease.
            </span>
        </div>
        <div class="flex flex-col justify-center items-center  w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">Promotional SMS</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                Craft compelling messages and reach a wider audience with ease.
             </span>
        </div>
        <div class="flex flex-col justify-center items-center  w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">Interactive Texting</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                Unleash the power of Shortcodes for both on-demand and subscription-based services
            </span>
        </div>
        <div class="flex flex-col justify-center items-center  w-70">
            <img src="assets/images/svg/bulb.svg" class="w-8"/>
            <span class="text-black-2 text-center text-sm">On-Demand Shortcodes</span>
            <span class="text-gray-1400 text-xs mt-4 text-center leading-1">
                Run polls, gather feedback, or answer questions - all with shortcodes that make interacting with your brand a breeze
             </span>
        </div>
    </div>
    
</div>