<app-header [pageName] = "'Home'"></app-header>
<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[showBlueYellowDiv]="false"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'USSD Services'">></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">SMS Sender ID Service</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <p class="text-gray-1400 text-xs text-left leading-5">
        We empower you to make a lasting impression with our advanced SMS Sender ID Service. Dive into the intricacies of our service as we break down its features and showcase how it can elevate your messaging strategy.
       </p>
      </div>
    </div>
</div>
<div class="w-full bg-gray-900 mt-4 mb-24">
    <div class="w-6/12 flex justify-center relative">
        <div class="flex flex-col justify-start gap-4 mb-40 mt-12">
            <span class="text-white text-xl font-bold leading-10">Other services include</span>
            <span class="h-1 w-12 bg-white border rounded"></span>
        </div>
        <div class="flex justify-center items-center absolute -bottom-14 left-72 border border-transparent rounded-lg">
            <div class="w-72 h-48 shadow-lg bg-blue flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-white font-semibold px-4">
                    Branding Your Messages
                </span>
                <span class="text-xs text-kt-white font-thin text-left pr-4 px-4">
                    Our SMS Sender ID Service is your gateway to branding excellence. Gone are the days of generic sender names. With us, you can customize the sender ID, ensuring that your recipients instantly recognize and trust the source of the message.
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-kt-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    Promote Trust and Recognition
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    We offer premier international multilingual SMS services designed to bridge the gap between businesses and their global audiences.
                </span>
            </div>
            <div class="w-72 h-48 shadow-lg bg-white flex flex-col gap-4 pl-2 py-4">
                <span class="text-base text-black font-semibold px-4">
                    Global Compatibility
                </span>
                <span class="text-xs text-gray-950 font-thin text-left pr-4 px-4">
                    Connect with your audience globally without compromise. Our SMS Sender ID Service is designed to be globally compatible, allowing you to maintain a consistent brand image across borders</span>
            </div>
        </div>   
    </div>
</div>
