<app-service-header [serviceTitle]="'Our Company'" [headingText] ="'Get to know'"  [showBlueYellowDiv]="false"
[bannerText]="'Check how our client and patners are saying about us…'" [descriptionText]="'Ensure security for all your services for your customers effectively'"></app-service-header>

    <!-- Team Members Start-->
    <div class="w-full bg-white mb-12">
        <div class="w-12/12 flex items-start bg-gray-1500 justify-center gap-12 mb-8 pb-12">
            <div class="w-96">
               <img src="assets/images/company/team.png" alt="Our Company" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="flex flex-col justify-start w-1/3 bg-gray-1500 p-8">
            
             <span class="text-lg font-semibold text-black pb-4">Our Team </span>
             <span class="text-lg font-semibold text-black flex items-center pb-8">
                 <span class="dot-line mr-2"></span>
                 <span class="dot mr-1"></span>
             </span>
             <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
                 <p>
                    It is a long established fact that a reader will be distracted by the rea dable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more or less normal page distribution of letters, as opposed to using Content here,content here normal distribution looking at its.We redefine the landscape of communication with our comprehensive Messaging Services both locally and internationally.
                 </p>
                 <p class="pt-2">
                    We provide seamless integration, high delivery rates, and comprehensive analytics to track your campaigns’ performance. We pride in our 24/7 customer support and competitive pricing.
                 </p>
             </span> 
           </div>
            <div>
            </div>
         </div>
        <div class="w-6/12 flex justify-center items-start flex-col py-4 mx-auto">
        
          <div class="flex justify-between gap-8">
            <div class="w-full flex flex-col">
            
              <div class="grid grid-cols-3 pt-4 mx-auto w-full gap-16">
                <div class="w-60 h-64 bg-white relative">
                  <img src="assets/images/team/hod.png" alt="Development" class="w-full h-full object-cover" />
                  <div class="absolute -bottom-8 left-4 mx-auto flex justify-center items-start w-52 h-18 bg-white rounded-sm p-1 shadow-lg gap-2">
                    <div class="flex justify-between items-center gap-12">
                      <span class="text-black text-sm text-left flex flex-col justify-start">
                        <span class="text-sm leading-5">James Mutua</span> 
                        <span class="flex justify-between items-center gap-8">
                          <i class='bx bx-right-arrow-alt text-blue'></i>
                          <span class="text-xs font-thin text-grey-950 leading-5">Head of department</span>
             
                        </span>
                      </span>
                     
                    </div>
                  </div>
                </div>
                <div class="w-60 h-64 bg-white relative">
                  <img src="assets/images/team/dhod.png" alt="Development" class="w-full h-full object-cover" />
                  <div class="absolute -bottom-8 left-4 mx-auto flex justify-center items-start w-52 h-18 bg-white rounded-sm p-1 shadow-lg gap-2">
                    <div class="flex justify-between items-center gap-12">
                      <span class="text-black text-sm text-left flex flex-col justify-start">
                        <span class="text-sm leading-5">Happines Maasai</span> 
                        <span class="flex justify-between items-center gap-8">
                          <i class='bx bx-right-arrow-alt text-blue'></i>
                          <span class="text-xs font-thin text-grey-950 leading-5">Deputy HOD</span>
             
                        </span>
                      </span>
                    
                    </div>
                  </div>
                </div>
                <div class="w-60 h-64 bg-white relative">
                  <img src="assets/images/team/pm.png" alt="Development" class="w-full h-full object-cover" />
                  <div class="absolute -bottom-8 left-4 mx-auto flex justify-center items-start w-52 h-18 bg-white rounded-sm p-1 shadow-lg gap-2">
                    <div class="flex justify-between items-center gap-12">
                      <span class="text-black text-sm text-left flex flex-col justify-start">
                        <span class="text-sm leading-5">Hattie Hattie</span> 
                        <span class="flex justify-between items-center gap-8">
                          <i class='bx bx-right-arrow-alt text-blue'></i>
                          <span class="text-xs font-thin text-grey-950 leading-5">Project Manager</span>
             
                        </span>
                      </span>
                      
                    </div>
                  </div>
                </div>
                <div class="w-60 h-64 bg-white relative">
                    <img src="assets/images/team/system-support.png" alt="Development" class="w-full h-full object-cover" />
                    <div class="absolute -bottom-8 left-4 mx-auto flex justify-center items-start w-52 h-18 bg-white rounded-sm p-1 shadow-lg gap-2">
                      <div class="flex justify-between items-center gap-12">
                        <span class="text-black text-sm text-left flex flex-col justify-start">
                          <span class="text-sm leading-5">Lilian Njeru</span> 
                          <span class="flex justify-between items-center gap-8">
                            <i class='bx bx-right-arrow-alt text-blue'></i>
                            <span class="text-xs font-thin text-grey-950 leading-5">System Support</span>
               
                          </span>
                        </span>
                     
                      </div>
                    </div>
                  </div>
                  <div class="w-60 h-64 bg-white relative">
                    <img src="assets/images/team/dev1.png" alt="Development" class="w-full h-full object-cover" />
                    <div class="absolute -bottom-8 left-4 mx-auto flex justify-center items-start w-52 h-18 bg-white rounded-sm p-1 shadow-lg gap-2">
                      <div class="flex justify-between items-center gap-12">
                        <span class="text-black text-sm text-left flex flex-col justify-start">
                          <span class="text-sm leading-5">Andrew Khaemba</span> 
                          <span class="flex justify-between items-center gap-8">
                            <i class='bx bx-right-arrow-alt text-blue'></i>
                            <span class="text-xs font-thin text-grey-950 leading-5 text-left">Developer</span>
               
                          </span>
                        </span>
                       
                      </div>
                    </div>
                  </div>
                  <div class="w-60 h-64 bg-white relative">
                    <img src="assets/images/team/dev3.png" alt="Development" class="w-full h-full object-cover" />
                    <div class="absolute -bottom-8 left-4 mx-auto flex justify-center items-start w-52 h-18 bg-white rounded-sm p-1 shadow-lg gap-2">
                      <div class="flex justify-between items-center gap-12">
                        <span class="text-black text-sm text-left flex flex-col justify-start">
                          <span class="text-sm leading-5">Vincent Mboya</span> 
                          <span class="flex justify-between items-center gap-8">
                            <i class='bx bx-right-arrow-alt text-blue'></i>
                            <span class="text-xs font-thin text-grey-950 leading-5">Business Developer</span>
               
                          </span>
                        </span>
                      
                      </div>
                    </div>
                  </div>
              </div>
           
          
        
            
            
            </div>
          
          </div>
  
        </div>
        </div>
  <!-- Team Members End-->