<app-service-header [serviceTitle]="'Our Company'" [headingText] ="'Get to know'"  [showBlueYellowDiv]="false"
[bannerText]="'Check how our client and patners are saying about us…'" [descriptionText]="'Ensure security for all your services for your customers effectively'"></app-service-header>
<div class="flex flex-col gap-4 py-16">
    <div class="w-12/12 flex items-start justify-center gap-12">
       <div class="w-70 h-64">
          <img src="assets/images/company/universe.png" alt="Our Company" class="w-full h-full object-cover rounded-lg">
       </div>
       <div class="flex flex-col justify-start w-1/3 gap-4">
        <span class="text-lg font-medium text-black flex items-center">
            <span class="dot mr-1"></span>
            <span class="dot-line mr-2"></span>
             <span>About us </span>
        </span>
        <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
            <p>KentaPay is the trusted choice for hundreds of companies in Africa, ranging from innovative startups to industry-leading companies. Our cutting-edge software and APIs empower businesses to seamlessly handle a spectrum of financial transactions, from accepting payments to facilitating secure payouts. </p>
            <p class="pt-4">With KentaPay, companies efficiently manage and grow their operations in the dynamic landscape of online business.</p>
        </span> 
      </div>
       <div>
       </div>
    </div>
</div>

<div class="flex flex-col gap-4 py-16">
    <div class="w-12/12 flex items-start justify-center gap-12">
       <div class="w-96">
          <img src="assets/images/company/work-process.png" alt="Our Company" class="w-full h-full object-cover rounded-lg">
       </div>
       <div class="flex flex-col justify-start w-1/3 bg-gray-1600 p-8">
        <span class="text-sm font-medium text-black">HOW WE WORK </span>
        <span class="text-lg font-semibold text-black pb-4">Our Working Process </span>
        <span class="text-lg font-semibold text-black flex items-center pb-8">
            <span class="dot-line mr-2"></span>
            <span class="dot mr-1"></span>
        </span>
        <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
            <p>Sed eget ligula at purus auctor porttitor id nec eros. Nunc condimentum, ipsum sit amet venenatis tempus, enim velit rutrum risus. </p>
            <!-- Vertical Steps -->
      <div class="relative flex flex-col items-start gap-8">
        <!-- Vertical Line -->
        <div class="absolute h-full w-px bg-blue-500 left-4 top-4"></div>

        <!-- Step 1 -->
        <div class="flex items-start relative mt-2">
          <div class="w-4 h-4 p-2.5 mt-1 rounded-full flex items-center justify-center bg-blue text-white text-xs font-semibold relative z-10">
            1
          </div>
          <div class="ml-4">
            <span class="text-sm font-medium text-black">Communication & Analytics</span>
            <p class="text-xs font-thin text-gray-1400 leading-5">
                Integer mollis iaculis est, vel molestie magna tortor a laoreet.
            </p>
          </div>
        </div>
        <div class="flex items-start relative">
            <div class="w-4 h-4 p-2.5 mt-1 rounded-full flex items-center justify-center bg-blue text-white text-xs font-semibold relative z-10">
              2
            </div>
            <div class="ml-4">
              <span class="text-sm font-medium text-black">Contract & prepayment</span>
              <p class="text-xs font-thin text-gray-1400 leading-5">
                In commodo, velit non sagittis porta, leo nulla euismod
              </p>
            </div>
          </div>
          <div class="flex items-start relative">
            <div class="w-4 h-4 p-2.5 mt-1 rounded-full flex items-center justify-center bg-blue text-white text-xs font-semibold relative z-10">
              3
            </div>
            <div class="ml-4">
              <span class="text-sm font-medium text-black">Prototype creation</span>
              <p class="text-xs font-thin text-gray-1400 leading-5">
                Nullam pretium lorem a velit feugiat interdum.
              </p>
            </div>
          </div>
          <div class="flex items-start relative">
            <div class="w-4 h-4 p-2.5 mt-1 rounded-full flex items-center justify-center bg-blue text-white text-xs font-semibold relative z-10">
              4
            </div>
            <div class="ml-4">
              <span class="text-sm font-medium text-black">Design</span>
              <p class="text-xs font-thin text-gray-1400 leading-5">
                Aliquam hendrerit, urna sit amet pretium convallis, elit quam pretium turpis, vitae vulputate magna mauris sit amet lorem.
              </p>
            </div>
          </div>
        
     
        
       
      </div>
        </span> 
      </div>
       <div>
       </div>
    </div>
    <div class="w-12/12 flex items-start justify-center gap-12">
    <div class="flex justify-between gap-4 bg-white mt-20 shadow-lg rounded">
        <div class="flex justify-between gap-2 p-8">
            <div>
             <img src="assets/images/stats/clients.png" class="w-8" alt="Clients" />
            </div>
            <div class="flex flex-col">
               <span class="text-2xl font-semibold leading-1">25K<sub>+</sub></span>
               <span class="text-xs leading-5">Happy Clients</span>
            </div>
        </div>
      
      <div class="flex justify-between gap-2 p-8">
        <div>
         <img src="assets/images/stats/projects.png"  class="w-8"  alt="Projects"  />
        </div>
        <div class="flex flex-col">
           <span class="text-2xl font-semibold leading-1">796<sub>+</sub></span>
           <span class="text-xs leading-5">projects Completed</span>
        </div>
      </div>
      <div class="flex justify-between gap-2 p-8">
      <div>
       <img src="assets/images/stats/partners.png"  class="w-8"  alt="Clients"  />
      </div>
      <div class="flex flex-col">
         <span class="text-2xl font-semibold leading-1">85<sub>+</sub></span>
         <span class="text-xs leading-5">Business Partners</span>
      </div>
      </div>
      <div class="flex justify-between gap-2 p-8">
      <div>
      <img src="assets/images/stats/medal.png"  class="w-8"  alt="Clients"  />
      </div>
      <div class="flex flex-col">
       <span class="text-2xl font-semibold leading-1">75<sub>+</sub></span>
       <span class="text-xs leading-5">Awards Winning</span>
      </div>
      </div>
      </div>
    </div>
</div>


