<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'KYC Services'"></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">KYC Services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
        <p>
            We provide full personal identity subscription services for easy KYC (Know Your Customer) procedures by integrating with a number of African government registries. During client onboarding, our technology offers a quick and safe method of identity verification, guaranteeing regulatory compliance. Our technology lowers fraud, streamlines identification verification, and builds client trust by providing real-time access to government databases. Discover the dependability, safety, and ease of use of our personal identity services, which are intended to facilitate a seamless and compliant onboarding experience.
        </p>
      
    </span> 
      </div>
    </div>
</div>
