<app-header [pageName] = "'Home'"></app-header>
<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'Pay Tv Services'"></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Pay Tv Services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
        <p>
            Our smooth integration with the world’s leading Pay TV services enables us to offer a quick and easy way to pay for your monthly subscriptions. With our platform, you can pay for and manage all of your preferred Pay TV services from a single, safe interface. No matter where you are, you may always have unrestricted access to your favorite entertainment thanks to our global network. 
        </p>
        <p class="pt-2">
            Take advantage of our dependable transaction processing, prompt payment confirmations, and committed customer service to make managing your Pay TV subscription simple and hassle-free.
        </p>
    </span> 
      </div>
    </div>
</div>
