<app-service-header [bannerText]="'Check how our client and partners are saying about us…'"
[headingText]="'Get to know'"
[descriptionText]="'Send effective text communication to your customers when they need it...'"
[serviceTitle]="'Water Utilities Services'"></app-service-header>
<div class="w-full">
    <div class="w-6/12 flex justify-center items-start mx-auto gap-8 py-8">
      
        <img src="assets/images/case-studies/payment.png" class="w-72"/>
    
      <div class="flex flex-col gap-4">
       <span class="text-lg text-black font-bold">Water Utilities Services</span>
       <span class="h-1 w-12 bg-black border rounded"></span>
       <span class="text-xs font-thin w-full text-left text-gray-1400 leading-5">
        <p>
            We now provide an effective payment option for both prepaid and postpaid water services thanks to our integration with top African water service providers. Through a safe and convenient interface, our platform makes it simple for you to monitor and pay your monthly water bills. No matter where you are, you can always count on timely and dependable payments because of our global presence. Savor the ease of prompt payment confirmations, smooth transaction handling, and committed customer service. Organize your water bill more easily and experience a hassle-free payment process right now.
        </p>
      
    </span> 
      </div>
    </div>
</div>
